
body{
    padding: 0;
    margin: 0;
    background: #4D4C7D;
}

#datos {
    
    padding: 0px 100px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#panel{
    margin: auto;
    width: 20em;
    height: 2em;
}

.byplace {
    min-width: 300px;

    height: 120px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;

    overflow-x: hidden;
    overflow-y: auto;
}

.place-item {
    width: 100%;
    height: 50px;
    background-color: rgb(187, 187, 187);
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
}

.index {
    width: 20%;
    height: 100%;
    border-right: 1px solid gray;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.place-item-content {
    padding: 5px;
}

.place-item-coords {
    font-weight: 600;
    border-bottom: 2px solid gray;
    white-space: nowrap;
}

.place-item-time {
    font-style: italic;
}

#mapa{
    position: absolute;
    height: 61%;
    width: 98%;
    bottom: 0%;
    margin: 1%;
 
}
.grid {
    user-select:none;
    width: 50%;
    min-width: 200px;
    background: white;
    border: black solid 2px;
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 0.5rem;
    margin: auto;
}

.grid > .name {
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid div{
    text-align: center;
    padding: 0.4em 0;
    border: black solid 1px;
}

.fechas{
    background-color: #E9D5DA;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
}

.fechas > div {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.fechas label {
    font-weight: 700;
    font-size: 18px;
}

header{
    width: 100%;
    height: 3.5em;
    background-color: #E9D5DA;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1rem;
    user-select:none;
}

header>* {
    line-height: 2rem;
    height: 2rem;
}

header>a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    background-color: #827397;
    width: 11ch;
    border-radius: 0.5em;
}

header>a:hover {
    background-color: #4D4C7D;
    box-shadow: inset 0 0 0.5em 0.5px rgba(0, 0, 0, 0.336);

}

header>#title{
    text-align: center;
    width: 70%;
    float: center;
    color: #363062;
    background-color: #E9D5DA;
    margin: 0;
}

#button{
    text-align: center;
    width: 290px;
}

#button2{
    text-align: center;
    margin-top: 2.9em;
    width: 290px;
    height: 60px;
    font-family: 'Roboto Slab', serif;
    font-size: 1em;
    color: #fff;
    border-radius: 0.5em;
    background-color: #363062;
    border-color: #fff;
    border-style:dashed;

}

#slider{
    position: absolute;
    z-index: 9999;
    left: 5rem;
    top: 15rem
}

@media screen and (max-width:600px) {
    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 45%;
        background: white;
        margin: 2%;
        margin-left: 10px;
        border: black solid 2px;
    }

    #fechas{
        float: right;
        top: 0%;
        background-color: orangered;
        width: 100px;
        height: 80px;
        margin: 2px;
        margin-right: 20%;
        text-align: center;
        color: white;
        border: #fff solid 2px;

    }

    #button{
        text-align: center;
        width: 160px;
    }
    
    #mapa{
        position: absolute;
        height: 60%;
        width: 98%;
        bottom: 0%;
        margin: 1%;
     
    }

    #start{
        width: 154px;
    }

    #stop{
        width: 154px;
    }
    #slider{
        position: absolute;
        z-index: 9999;
        left: 4rem;
        top: 17rem
    }
}
